
<input type="text" [(ngModel)]="Firstname" name="firstname" placeholder="Firstname..">
<input type="text" [(ngModel)]="Lastname" name="lastname" placeholder="Lastname..">
<input type="text" [(ngModel)]="Phone" name="phone" placeholder="Phone..">
<input type="text" [(ngModel)]="Mobile" name="mobile" placeholder="Mobile..">
<input type="text" [(ngModel)]="Email" name="email" placeholder="Email..">
<input type="text" [(ngModel)]="Address" name="address" placeholder="Address..">
<p>
<input type="file" [(ngModel)]="Image" name="image" placeholder="Image..">
<img src="/Uploads" style="max-width:200px; max-height:200px;">
</p>
<input type="submit" value="Add a posts" (click)="addPost()">

<h1>List of Users</h1>
<table>
    <tr>
        <td>
        Image
        </td>
        <td>
        Name
        </td>
        <td>
        Phone
        </td>
        <td>
        Mobile
        </td>
        <td>
        Email
        </td>
        <td>
        Address
        </td>
        <td>
        Action
        </td>
        </tr>
</table>
<ul *ngFor="let post of posts | async">
  <li (click)="getPost(post.id)">
    <table>
    <tr>
    <td>
    {{ post.data.image }}
    </td>
    <td>
      {{ post.data.firstname }} {{ post.data.lastname }}
    </td>
    <td>
    {{ post.data.phone }}
    </td>
    <td>
    {{ post.data.mobile }}
    </td>
    <td>
    {{ post.data.email }}
    </td>
    <td>
    {{ post.data.address }}
    </td>
    <td>
        <a href="#" (click)="deletePost(post.id)">❌&nbsp;Delete</a>
        <br>
        <a href="#" (click)="updatePost(post.id)">✔&nbsp;Update</a>
    </td>
    </tr>
    </table>
    
  </li>
</ul>
<p>{{ (post | async)?.Image }}</p> <br>
<h3>{{ (post | async)?.Firstname }} {{ (post | async)?.Lastname }}</h3>
<p>{{ (post | async)?.Phone }} <br>
  {{ (post | async)?.Mobile }} <br>
  {{ (post | async)?.Email }} <br>
  {{ (post | async)?.Address }} <br>

</p>